.card-group-container {
  display: flex;
  height: 250px; }
  .card-group-container div:first-child {
    width: 300px;
    margin: 10px; }
  .card-group-container div:last-child {
    width: 900px;
    margin: 10px; }
