@import '../../../style/safe-include';

.card-container {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $brand-white;

  &.small {
    width: 320px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-text {
      text-transform: uppercase;
      color: darken($brand-white, 5%);
      opacity: 0.7;
    }
  }

  .body {
    margin: 10px;
  }
}
